<a href="https://colab.research.google.com/github/seprj/Python-script/blob/main/part8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
count = 0
while count < 5:
  print(count+1, 'Hello sepid jon')
  count = count+1

1 Hello sepid jon
2 Hello sepid jon
3 Hello sepid jon
4 Hello sepid jon
5 Hello sepid jon

In [4]:
n = int (input('inter a number: '))
while n > 0:
  r = n % 10
  n= n //10
  print (r)

inter a number: 62
2
6

In [8]:
n = int(input("Please enter a number for multiplication table: "))
counter =1
while counter <= 10:
  print(n,"x" , counter,"=",n*counter)
  counter = counter+1

Please enter a number for multiplication table: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [11]:
n = int(input("Please enter a number: "))
counter = 0
while n > 10:
  n= n // 10
  counter +=1

print('Number of digit is ',counter)

Please enter a number: 36
Number of digit is  1

In [16]:
num_of_numbers = int(input("Enter number of numbers: "))
sum = 0
count = 0
while (count < num_of_numbers):
  n  = int(input("Enter a number: "))
  sum = sum +n
  count = count +1
print(f'Sum of these {num_of_numbers} numbers is : ',sum)

Enter number of numbers: 3
Enter a number: 12
Enter a number: 52
Enter a number: 96
Sum of these 3 numbers is :  160

In [24]:
import random
n = random.randint(18,50)

guess = 0
while guess != 0:
  guess = int(input('guess a number: '))
  if guess < n:
     print('its smaller')
  elif guess > n:
     print('its lorger')
  else :
     print('correct guess')

In [32]:
count = 1
while count <= 10:
  print(count)
  count = count +1
  if count > 5:
    break
else:
  print("print all 10 numbers")
print("end of program")

1
2
3
4
5
end of program

In [35]:
for i in range (10,2,-3):

  print(i)

10
7
4

In [41]:
msg = str(input('Enter your name: '))

for i in msg:
  print(i)
# print('this is spell of your name')

Enter your name: sepide
s
e
p
i
d
e

In [42]:
for i in range(5,20):
  print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19